.cart-button {
    width: 150px;
    height: 30px;
    margin: 10px 0;
    background: #FF7F50;
    color: #fff;
    box-shadow: 0 2px 3px #666;
    border-radius: 100px;
}

#sent-to-email span {
    color: #ff0000;
    font-size: 30px;
}

#sent-to-email .input {
    margin: 0 0 23px 25px;
    width: 450px;
    height: 30px;
}

#sent-to-email {
    margin-left: 100px;
    text-align:center;
}