/*For showing goods by subcategory*/
.good {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 3px #666;
    border-radius: 8px;
    border: 2px solid #FF7F50;
    margin-right: 15px;
    margin-bottom: 15px;
    width: 350px;
    height: 200px;
    background: #FDF5E6;
}

.good img {
    width: 100px;
    height: 100px;
    box-shadow: 0 2px 3px #666;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin: 5px;
}

 .good-discription .good-discount-priceNew {
    color: #DC143C;
    font-size: 23px;
}

 .good-discription .good-buy {
    display: flex;
    text-align: center;
    align-content: center;
}
 .good-discription .good-buy .good-to-cart {
    color: #fff;
    box-shadow: 0 2px 3px #666;
    border-radius: 100px;
    background: #FF7F50;
    width: 120px;
    height: 30px;
    margin-bottom: 10px;
    font-size: 20px;
}

 .good-discription .good-buy .good-to-cart:hover {
     background: #FFA07A;
}

 .good-discription .good-buy .required-count {
    border-radius: 100px;
    width: 40px;
    height: 35px;
}

 .good-discription .good-buy .good-more-info {
    background: #FF7F50;
    width: 200px;
    height: 30px;
    box-shadow: 0 2px 3px #666;
    border-radius: 100px;
    color: #fff;
    box-shadow: 0 2px 3px #666;
    font-size: 20px;
}

 .good-discription .good-buy .good-more-info:hover {
    background: #FFA07A;
}

/*For filtration*/
#filtration {
    box-shadow: 0 2px 3px #666;
    border-radius: 8px;
    border: 2px solid #FF7F50;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    margin-bottom: 15px;
}
#filtration div {
    display: flex;
    align-items: flex-end;
}
#filtration #filtration-inner {
display: flex;
justify-content: space-between;
}

#filtration input[type="number"]{
    width: 170px;
    height: 20px;
    margin-left: 3px;
    margin-top: 5px;
    border-radius: 0px;
    box-shadow: inset 0 0 0;
    background: #fff;
}

#filtration button
{
    width: 143px;
    height: 25px;
    margin: 10px 0;
    color: #fff;
    background: #FF7F50;
}

#filtration input[type="button"] {
    width: 143px;
    height: 25px;
    margin: 10px 0;
    color: #fff;
    background: #FF7F50;
}

/*For showing more info of a good*/
#good-more-info {
    width: 750px;
    display: flex;
    justify-content: space-between;
}

#good-more-info img {
    width: 250px;
    height: 250px;
    box-shadow: 0 2px 3px #666;
    border-radius: 8px;
}
figure {
    width: 0;
    height: 0;
}

figure :hover {
    box-shadow: 0 2px 3px #FF7F50;
}

figure:focus {
    -webkit-transform: rotate(0deg) scale(2.5);
    -moz-transform: rotate(0deg) scale(2.5);
    -o-transform: rotate(0deg) scale(2.5);
    -ms-transform: rotate(0deg) scale(2.5);
}
